<ion-view view-title="Bioquimic">
  <ion-content>
  	<div class="container fondo">
  		<div class="row">
  			<div class="col-100 borde1">Raciones Diarias y Frecuencia de consumo recomendada de alimentos</div>
  		</div>
  		<br>


  		<div class="row">
  			<div class="col">
  				<div class="row borde">
  					<div class="col">Alimentos</div>
  				</div>
  				<div class="row borde tabla">
  					<div class="col">Leche y Derivados</div>
  				</div>
  			</div>
  			<div class="col">
  				<div class="row borde">
  					<div class="col">Observaciones</div>
  				</div>
  				<div class="row borde tabla">
  					<div class="col">Buena proporción en proteínas y calcio, B2, vitamina A y D</div>
  				</div>
  			</div>
  			<div class="col">
  				<div class="row borde">
  					<div class="col">Raciones y Frecuencia de Consumo</div>
  				</div>
  				<div class="row borde">
  					<div class="col">Al menos dos vasos de leche o alimento equivalente al dìa</div>
  				</div>
  			</div>
  		</div>
  		<br>
  		<div class="row">
  			<div class="col">
  				<div class="row borde">
  					<div class="col">Carnes y Derivados</div>
  				</div>
  				<div class="row borde tabla2">
  					<div class="col">Vísceras</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col">
  					<div class="row borde">
  						<div class="col">Ricas en Proteínas y Hierro</div>
  					</div>
  					<div class="row borde">
  						<div class="col">Hígado.<br>Asegura aporte de hierro</div>
  					</div>
  				</div>
  			</div>
  		</div>
  		<br>
  		<div class="row">
  			<div class="col">
  				<div class="row borde">
  					<div class="col">Vísceras</div>
  				</div>
  				<div class="row borde tabla3">
  					<div class="col">Pescados</div>
  				</div>
  			</div>
  			<div class="col">
  				<div class="row borde">
  					<div class="col">Hígado<br>Asegura aporte de hierro</div>
  				</div>
  				<div class="row borde">
  					<div class="col">Ricos en proteinas</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </ion-content>
</ion-view>
