<ion-view view-title="Bioquimic">
  <ion-content class="padding fondo">
    <h2><center class="texto">Importancia del Agua en el cuerpo Humano</center></h2>
    <iframe src="https://www.youtube.com/watch?v=GdMkgexiHwk" class="video"></iframe>
    
    <h3><center class="texto">El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra.</center></h3>
  </ion-content>
</ion-view>
