<ion-view view-title="Bioquimic">
  <ion-content>
  	<div class="container">
  		<div class="row">
  			<div class="col-100">Raciones Diarias y Frecuencia de consumo recomendada de alimentos</div>
  		</div>
  		<div class="row">
  			<div class="col-33">Alimentos</div>
  			<div class="col-33">Observaciones</div>
  			<div class="col-34">Raciones y Frecuencia de Consumo Recomendada</div>
  		</div>
  		<div class="row">
  			<div class="col-33">Leche y Derivados</div>
  			<div class="col-33"></div>
  			<div class="col-34"></sdiv>
  		</div>
  	</div>
  </ion-content>
</ion-view>
